@font-face
{
   font-family: "Prototype";
   src: url(Prototype.ttf) format("truetype");      
}


body{
    background-color:#eaeaea;
    font-family: Prototype;
}
.logo1{
    width:200px;
    height:200px;
}
nav{
    font-family: Prototype;
    font-size:14pt;
    
}
.flex-container{ 
     background-color:black;
     height:70px;
     width:100%;
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     margin-top:5%;
     
    }

  
.menu1{
    text-decoration: none;
    font-family:Prototype;
    font-size: 14pt;
    color:white;
    margin:60px;
    height:20px;
   
}
.menu:hover{
    background-color:#00ddbb;
}

.perfil{
    text-align:center;
    font-size: 12pt;
}
.imgperfilredondo{
    width: 200px;
    height: 200px;
    border-radius:150px;
    border: 3px solid black;
    display:block;
    margin:auto;
}
.sobremi{
    font-family:Prototype;
    margin-left:30%;
    margin-right:30%;
}
.exposicion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin:5%;
}
.exposicion img{
    width: 320px;
    height: 177px;
}
.expo1{
    text-align:center;   
}

.expotitulo{
    text-decoration: none;
    color:black;
    margin:10px;
}

.logocanon{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    
}
.logocanon img{

    width:130px;
    height:85px;
}
.canon1{
    margin:10;
}


footer {
    background-color: black;
    height:30%; 
    color:white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.footer1 {   
    
    width: 200px;
    height:200px;
    margin-right: 200px;
}

.logofo{
    
    width:200px;
    height:200px;
}
.facebook{
    
    width:35px;
    height:35px;
    border-radius:150px;
    border:2px solid white;

}
.instagram{
    
    width:35px;
    height:35px;
    border-radius:150px;
    border:2px solid white;
}
